


.Grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Grid-cell {
    flex: 1;
}

.Grid-cell.u-lof4 {
    flex: 0 0 300px;
}

.Grid-cell .list {
    height: 250px;
    padding: 20%;

}

.list .folder {
    width: 100%;
    height: 100%;
    border: 1px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s linear;
    overflow: hidden;
    display: flex;
}

.list .folder:hover {
    -webkit-transform: translate3d(0, -2px, 0);
    -moz-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}


.folder .name {
    margin: auto;
}


.fsdiv {
    width: 1200px;
    margin:  0 auto;
}

.fsdiv ul {
    padding: 0px;
}

.fslist {
    list-style: none;
    padding: 2px 0px;
}

.fslist div {
    display: inline-block;
  /*  text-align: center;  */
}

.fslist .name {
    width: 45%;
}

.fslist .size {
    width: 20%;
}

.fslist .time {
    width: 35%;
   
}